@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.wrapper {
  background: #fdfdfd;

  nav {
    padding: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;

      a {
        font-size: 0.615rem;
        font-weight: 900;
        color: #213855;
        letter-spacing: 0.1em;
        text-decoration: none;
      }

      .nav--logo {
        margin: 0rem 0.35rem 0.145rem 0rem;
        width: 1.65rem;
        height: 1.65rem;
      }
    }

    button {
      outline: none;
      color: #213855;
      padding: 0.325rem 0.5rem;
      font-size: 0.5rem;
      font-weight: 700;
      border-radius: 8px;
      background: #fdfdfd;
      border: 1.5px solid #213855;
    }
  }

  .hero--section {
    margin: 6rem 5rem;

    h1 {
      font-family: "Poppins";
      font-size: 3rem;
      color: #213855;
      margin-right: 55rem;
      line-height: 3rem;
    }

    p {
      margin: 1.5rem 58rem 1.5rem 0;
      font-size: 0.65rem;
      font-weight: 500;
      color: #73777a;
    }

    button {
      outline: none;
      border: none;
      color: #fdfdfd;
      padding: 0.5rem;
      background: #6956e9;
    }

    .hero--scroll {
      margin-top: 5rem;
      display: flex;
      align-items: center;

      img {
        margin-right: 0.5rem;
        width: 0.75rem;
        height: 0.75rem;
      }

      p {
        color: #213855;
        font-size: 0.5rem;
        font-weight: 700;
      }
    }
  }
}
